---
layout: default
title: About
---

<div class="hero-banner">
  <div class="col-md-12 hero-text">
    <h1>About Us</h1>
    <p>Here is some text</p>
</div>
</div>


<div class="container">
  <div class="page-description">
    <h2>Bachelor of Information Technology</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id nunc vel odio mattis volutpat vel eu sapien. In ultricies ante sem, nec varius metus aliquet non. Donec enim velit, congue vel fringilla vel, consectetur sed ex. Vestibulum pharetra tincidunt metus eget semper. Phasellus et semper odio, et malesuada augue. Aliquam sed sapien at nibh vulputate sodales quis vitae dolor. Phasellus leo elit, finibus vitae ante sed, laoreet aliquet risus.
    </p>
  </div>
</div>
