---
layout: default 
---

<div class="hero-banner">
        <div class="hero-cover">

            </div>
    <h1>About Us</h1>
    <p>Here is some text</p>
</div>
<div class="container">
<h1>Bachelor of Information Technology.</h1>
<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis sodales interdum. Duis sed est vehicula, finibus nunc non, viverra tortor. Vestibulum scelerisque urna vel lectus imperdiet luctus. Quisque semper sit amet tortor fringilla mattis. In nec pellentesque neque, vel condimentum nulla. Donec eget tortor diam. Curabitur sed justo commodo, accumsan mauris et, tempus mauris. Aliquam erat volutpat. Duis eu varius lacus. Aenean dapibus velit vel nulla aliquet ultricies. Nam varius egestas tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque non elit eget nulla sodales faucibus. Nulla tristique nec dolor ultrices egestas. Aliquam suscipit ornare magna vehicula aliquam.
</p>
</div>