<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bachelor of Information Technology | Otago Polytechnic</title>

    <!-- Favicon Here -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/1.css">



    <style media="screen">
    .navbar-light{
      background-color: transparent;
      transition: background-color 0.4s ease-out;

    }

    .navbar-light.scrolled{
      background-color: #ffffff;
      transition: background-color 0.4s ease-out;
    }


    .abc.ncol{
      color: #000000!important;
    }

    </style>

  </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link abc" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#">Study</a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div id="image-header">
        <ul class="cb-slideshow">
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
        </ul>
        <div id="curtain"></div>
        <br /><br />
        <div class="container main-text">
            <h1>Discover the power of computing and technology .</h1>
            <p>
                Pursue a career in I.T. with a Bachelor of Information Technology and advance your skills in a diverse and evolving industry.
            </p>
        </div>

    </div>


<section class="about">
  <div class="container">
    <div class="col-md-12 text-center blurb">
      <h2>Keen on pursuing a career in Information Technology?</h2>
      <p>Discover the power of computing technology and how it can help you develop real world solutions and innovations with this stimulating, hands-on programme. Every industry, organisation and business in the world relies on computer technology in one way or another and the right qualification will create numerous employment opportunities for you, both here and overseas. </p>
    </div>
  </div>

</section>

<div class="item-container">
  <div class="box-item">
    <a href="#">
   <div class="text">
              <!-- text goes here -->
        </div>
  <img src="https://www.op.ac.nz/assets/infosheets/953804008e/634x484-IT04__FillWzMxNywyNDJd.jpg" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
            <!-- text goes here -->
        </div>
  <img src="https://www.op.ac.nz/assets/infosheets/7a58e74dbf/317x242-IT-06__FillWzMxNywyNDJd.JPG" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
            <!-- text goes here -->
        </div>
  <img src="https://www.odt.co.nz/sites/default/files/styles/odt_landscape_medium_4_3/public/story/2019/01/edu011920op20it20graysonorr.jpg?itok=5pmx4H0q" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
         </a>
</div>



</div>




<a id="button"><i class="fas fa-caret-up"></i></a>








<section>
    <div class="row">
      <div class="col-md-12 image-box">
        <div class="image-cover">

        </div>
        <div class="container">
        <div class="col-md-12 image-box-content">
          <h2>Are you keen on pursuing a career in Information Technology?</h2>
          <p>
Study in a supportive and innovative environment and develop high-level technical abilities and a strong theoretical understanding of IT concepts while exercising your problem-solving skills and creativity. </p>
          <div class="view-more">
            <button class="btn btn-2 btn-2a">Contact Us</button>
          </div>
        </div>
      </div>



        </div>
      </div>
</section>

<section>
  <div class="container-fluid text-center video">

      <h2>Discover the power of computing and technology</h2>
      <br>
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8 col-sm-12">
          <div class="iframe-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/L9xfirPf2fw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-2">

        </div>
      </div>


    </div>
</section>



<!-- ///////////////////////////////////// FOOTER /////////////////////////// -->

<section>
  <div class="row">
    <div class="col-md-6 person-img">

    </div>
    <div class="col-md-6 person-quote">
      <div class="row">
        <div class="parent">
          <div class="child-1">
            <i class="fas fa-quote-left"></i>
          </div>
        <div class="child-2">
          <p> I studied at Otago Girls’ High School, so coming from that into an environment where women are supported is really important to me. <br></p>
          <p class="dark-green">Isabel Ryan, BIT Student</p>


        </div>
        </div>
        </div>
    </div>

  </div>
</section>

<footer class="footer">

     <div class="container footer-top">
       <div class="row">


       <div class="col-md-8 col-sm-12 contact footer-item">
          <img class="footer-img" src="img/polytech.png" alt="polytech">
          <br>
         <p><i class="fas fa-home"></i> D Block,
Harbour Terrace</p>
<p><i class="fas fa-phone"></i> Phone number </p>
<p><i class="fas fa-at"></i> Email address</p>
       </div>
       <div class="col-md-2 col-sm-12 links footer-item">
         <h4>Pages</h4>
         <p><a href="#">Home </a></p>
         <p><a href="#">About Us</a></p>
         <p><a href="#">Study</a></p>
         <p><a href="#">Contact</a></p>
         <p><a href="#">Our portfolio</a></p>

       </div>
       <div class="col-md-2 col-sm-12 links footer-item">
         <h4>Other Courses</h4>
         <p><a href="#">Our story</a></p>
         <p><a href="#">Our services</a></p>
         <p><a href="#">Pricing</a></p>
         <p><a href="#">Get in touch</a></p>
         <p><a href="#">Our portfolio</a></p>

       </div>
     </div>
   </div>

     </div>
     <div class="lower-footer">
       <div class="container">
         <div class="row panel-1">
           <div class="col-md-12 col-lg-12">
             <div class="col-md-12 social-icons">
               <a target="_blank" href="https://www.facebook.com/groups/286621204734252/"><i class="fab fa-facebook"></i></a>
               <a target="_blank" href="https://www.instagram.com/bit.project/"><i class="fab fa-instagram"></i></a>
             </div>
           </div>
         </div>
         <div class="row panel-2">
            <div class="col-md-9 col-lg-9">
              <p>© 2019 Otago Polytechnic. All rights reserved.</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 levitate">
               <a href="https://www.op.ac.nz/">Visit Otago Polytechnic <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> <!-- End of Row -->

        </div> <!-- End of Container -->
       </div>

   </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scroll-down.js"></script>
    <script src="js/index.js" type="text/javascript">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script  src="js/index.js"></script>

    <script type="text/javascript">
    var btn = $('#button');

    $(window).scroll(function() {
    if ($(window).scrollTop() > 300) {
    btn.addClass('show');
    } else {
    btn.removeClass('show');
    }
    });

    btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
    });

    </script>

    <!-- Change color on scroll -->
    <script type="text/javascript">
      $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
      });
    </script>

    <script type="text/javascript">
    $(window).scroll(function(){
    if ($(this).scrollTop() > 50){
      $('.abc').addClass('ncol');
    }
    else {
        $('.abc').removeClass('ncol');
    }
    });
    </script>

  </body>
</html>
