<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bachelor of Information Technology | Otago Polytechnic</title>

    <!-- Favicon Here -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/1.css">



    <style media="screen">
    .navbar-light{
      background-color: transparent;
      transition: background-color 0.4s ease-out;
      

    }

    .navbar-light.scrolled{
      background-color: #0B4F9F;
      transition: background-color 0.4s ease-out;
      
    }


    .abc.ncol{
      color: #ffffff!important;
    }

    

    </style>


  </head>

<body id="home">

  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="logo" src="logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link abc" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#projects">Our Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link abc" href="#">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div id="image-header">
        <ul class="cb-slideshow">
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
            <li><span></span><div></div></li>
        </ul>
        <div id="curtain"></div>
        <br /><br />
        <div class="container h-100">

    <div class="d-flex h-100 text-left align-items-center">
        <div class="w-100 text-white main-text">
          <div class="intro">
          <h2>Bachelor of Information Technology</h2>
          <h2>Third Year Project</h2>
          <p>Carry out advanced project work in the information technology field, applying skills learned in the degree programme to produce a project for an external client. Demonstrate commitment, competence, creativity and craftsmanship throughout the process.</p>
          

          </div>
      </div>

    </div>
  </div>

    </div>


<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 blurb">
      </div>
      <div class="col-md-7 text-left blurb">
      <h2>What is Project?</h2>
      <p>Project is a paper offered in the third year of the Bachelor of Information Technology at Otago Polytechnic.</p>
      <p>It combines the skills learnt throughout the previous years of the degree with real life clients and situations.</p>
      </div>
    </div>
    </div>
  </section>
  
  <section class="about secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-left blurb">
      <h2>What is Project?</h2>
      <p>Project is a paper offered in the third year of the Bachelor of Information Technology at Otago Polytechnic.</p>
      <p>It combines the skills learnt throughout the previous years of the degree with real life clients and situations.</p>
      </div>
      <div class="col-md-5 blurb">
      </div>
      
    </div>
    </div>
  </section>


 <section class="about business">
  <div class="container">
    <div class="row">
      <div class="col-md-5 blurb">
      </div>
      <div class="col-md-7 col-sm-12 text-left blurb">
      <h2>Are you a business or organization that could benefit from I.T. help?</h2>
      <p>We're always on the lookout for local business with ideas or jobs that could be used for project work. If this sounds like you then get in touch below!</p>
     
      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-2 btn-2a">Contact Us</button>
     

    </div>


  </section>


<section class="our-projects" id="projects">
  <div class="container">
    <div class="col-md-12 text-center">
      <h2> Our Projects</h2>
      <p>We offer a range of projects</p>
    </div>
  </div>


<div class="item-container">
  <div class="box-item">
    <a href="#">
   <div class="text">
              <h3>Internet of Things</h3>
        </div>
  <img src="https://www.op.ac.nz/assets/infosheets/953804008e/634x484-IT04__FillWzMxNywyNDJd.jpg" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
            <h3>Servers</h3>
        </div>
  <img src="https://www.op.ac.nz/assets/infosheets/7a58e74dbf/317x242-IT-06__FillWzMxNywyNDJd.JPG" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
            <h3>Mobile</h3>
        </div>
  <img src="https://www.odt.co.nz/sites/default/files/styles/odt_landscape_medium_4_3/public/story/2019/01/edu011920op20it20graysonorr.jpg?itok=5pmx4H0q" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
         </a>
</div>


</div>

<div class="item-container">
  <div class="box-item">
    <a href="#">
   <div class="text">
              <!-- text goes here -->
               <h3>Web</h3>
        </div>
  <img src="../img/web.jpg" alt="pepsi" width="540!important" height="548!imortant">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
             <h3>Game Development</h3>
        </div>
  <img src="https://www.op.ac.nz/assets/infosheets/7a58e74dbf/317x242-IT-06__FillWzMxNywyNDJd.JPG" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
        </a>
</div>



<div class="box-item">
    <a href="#">
   <div class="text">
            <!-- text goes here -->
        </div>
  <img src="https://www.odt.co.nz/sites/default/files/styles/odt_landscape_medium_4_3/public/story/2019/01/edu011920op20it20graysonorr.jpg?itok=5pmx4H0q" alt="pepsi" width="540" height="548">

  <div class="item-overlay top"></div>
         </a>
</div>


</div>



</section>




<a id="button"><i class="fas fa-caret-up"></i></a>



<!-- ///////////////////////////////////// FOOTER /////////////////////////// -->

<section>
  <div class="row">
    <div class="col-md-6 person-img">

    </div>
    <div class="col-md-6 person-quote">
      <div class="row">
        <div class="parent">
          <div class="child-1">
            <i class="fas fa-quote-left"></i>
          </div>
        <div class="child-2">
          <p> I studied at Otago Girls’ High School, so coming from that into an environment where women are supported is really important to me. <br></p>
          <p class="dark-green">Isabel Ryan, BIT Student</p>


        </div>
        </div>
        </div>
    </div>

  </div>
</section>




<footer class="footer">

     <div class="container footer-top">
       <div class="row">


       <div class="col-md-8 col-sm-12 contact footer-item">
          <img class="footer-img" src="img/polytech.png" alt="polytech">
          <br>
         <p><i class="fas fa-home"></i> D Block,
Harbour Terrace</p>
<p><i class="fas fa-phone"></i> Phone number </p>
<p><i class="fas fa-at"></i> Email address</p>
       </div>
       <div class="col-md-2 col-sm-12 links footer-item">
         <h4>Pages</h4>
         <p><a href="#">Home </a></p>
         <p><a href="#">About Us</a></p>
         <p><a href="#">Study</a></p>
         <p><a href="#">Contact</a></p>
         <p><a href="#">Our portfolio</a></p>

       </div>
       <div class="col-md-2 col-sm-12 links footer-item">
         <h4>Other Courses</h4>
         <p><a href="#">Our story</a></p>
         <p><a href="#">Our services</a></p>
         <p><a href="#">Pricing</a></p>
         <p><a href="#">Get in touch</a></p>
         <p><a href="#">Our portfolio</a></p>

       </div>
     </div>
   </div>

     </div>
     <div class="lower-footer">
       <div class="container">
         <div class="row panel-1">
           <div class="col-md-12 col-lg-12">
             <div class="col-md-12 social-icons">
               <a target="_blank" href="https://www.facebook.com/groups/286621204734252/"><i class="fab fa-facebook"></i></a>
               <a target="_blank" href="https://www.instagram.com/bit.project/"><i class="fab fa-instagram"></i></a>
             </div>
           </div>
         </div>
         <div class="row panel-2">
            <div class="col-md-9 col-lg-9">
              <p>© 2019 Otago Polytechnic. All rights reserved.</p>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 levitate">
               <a href="https://www.op.ac.nz/">Visit Otago Polytechnic <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> <!-- End of Row -->

        </div> <!-- End of Container -->
       </div>



   </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
    <script src="js/scroll-down.js"></script>
    <script src="js/index.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
    <script  src="js/index.js"></script>

    <script src="js/bootstrap.min.js"></script>


    <script type="text/javascript">
      $('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    </script>

    <script type="text/javascript">
    var btn = $('#button');

    $(window).scroll(function() {
    if ($(window).scrollTop() > 300) {
    btn.addClass('show');
    } else {
    btn.removeClass('show');
    }
    });

    btn.on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({scrollTop:0}, '300');
    });

    </script>

    <script type="text/javascript">
    $(document).on("scroll", function(){
      if
      ($(document).scrollTop() > 50){
        $("nav").addClass("shrink");
      }
      else
      {
        $("nav").removeClass("shrink");
      }
    });
    </script>

    <!-- Change color on scroll -->
    <script type="text/javascript">
      $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
      });
    </script>

    <!-- Change navbar link color on scroll -->
    <script type="text/javascript">
    $(window).scroll(function(){
    if ($(this).scrollTop() > 50){
      $('.abc').addClass('ncol');
    }
    else {
        $('.abc').removeClass('ncol');
    }
    });
    </script>

  </body>


</html>



 

